.page-margin {
    margin-left: 10%;
    margin-right: 10%;
}

/* sfondo e logo boolean */

.sfondo {
    width: 100%;
    height: 175px;
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
}

.logo {
    width: 15%;
    height: 15%;
    margin-top: 80px;
}

/* sfondo e logo boolean aggiunti */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
}

.line {
    line-height: 2px;
}

#colore {
    color: grey;
}

#grandezza {
    font-size: 14px;
}